extends layout

block content
    h1= title

    form(method="POST", action="/articles/add")
        label Title:
        input(type="text", name="title")
        br

        label Author:
        input(type="text", name="author")
        br

        label Body:
        input(type="text", name="body")
        br

        input(type="submit", value="Submit")

