extends layout

block content
    h1= title
    a(href='/articles/add/') Add articles
    br
    a(href='/users/register/') register
    p Welcome to #{title}
    ul
        each val in articles
            li
                a(href="/articles/"+val._id)= val.title
