extends layout

block content

    h1= Register

    form(method="POST", action="/users/register")
        label Name:
        input(type="text", name="name")
        br

        label Email:
        input(type="text", name="email")
        br

        label Username:
        input(type="text", name="username")
        br

        label Password:
        input(type="password", name="password")
        br

        label Confirm:
        input(type="password", name="password2")
        br

        - if (er){
            span ошиюка в пароле
        - }
        input(type="submit", value="Submit")
